
$azure:#03dedf;	// Bright Turquoise
$azure-hover: #04c9c9;
$pink: #ff4274;
$pink-hover: #f7255d;
$golden: #ffcc00;
$golden-hover:#eebf02;
$blue: #21759b;
$blue-hover: #135495;
$green: #0cc919;
$green-hover: #09b915;
$citrus: #1ab394;	// Citrus
$citrus-hover: #139e82;
$red:#d31d4d;
$red-hover:#c71142;
$dark-purple:#9200ee;
$dark-purple-hover:#7c06c5;
$orange:	#e12d1e;
$orange-hover:#df2413;
$light-orange: #ff645e;
$light-orange-hover: #fa433c;
$purple: #c179c0;
$purple-hover:#a862a7;
$light-mono: #ececec;
$light-mono-hover: #dedede;
$dark-mono: #484848;
$dark-mono-hover:#3f3f3f;